*{
    padding: 0px;
    margin: 0px;
    position: relative;
}
.first{
    background: #00203FFF;
    height: 100vh;
    color: #ADEFD1FF;
}
.imgX img{
    position: absolute;
    top: 200px;
    left: 150px;
    height: 250px;
}
.first h1{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 100px;
    z-index: 1;
}
.first p{
    position: absolute;
    top: 300px;
    font-size: 20px;
    color:#42EADDFF;
}
.second{
    background: #000000FF;
    height: 100vh;
}
.second h1{
    color: white;
    text-align: center;
}
.second p{
    color: white;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.box{
    position: relative;
    float: left;
    margin-left: 20px;
    left: 130px;
    top: 100px;
    height: 300px;
    background: #FFFFFFFF;
}
.box h1{
    color:#00A4CCFF;
    text-align: center;
}
.box p{
    color: black;
}

@media (max-width: 768px){
    *{
        padding: 0px;
        margin: 0px;
        position: relative;
    }
    .first h1{
        font-size: 50px;
        left: 200px;
    }
    .imgX img{
        position: absolute;
        top: 100px;
        height: 200px;
        left: 30px;
        z-index: 1;
    }
    .second{
        position: absolute;
        top: 400px;
        height: 1700px;
    }
    .box{
        height: 400px;
        margin-top: 50px;
        left: 100px;
    }
}